@import "../../style/variables.less";
.bar-container {
  .border-bottom-light();
  padding: 5px 25px;
  box-sizing: border-box;
  background-color: white;
  .action {
    // width: 60px;
    text-align: center;
    Text {
      font-size: 26px;
    }
    &:last-child {
      margin-left: auto;
    }
  }
  .date{
    margin-left: auto;
  }
}
