@import "../../style/variables.less";
.add-page-wrap{
  padding: 30px 60px;
  overflow: auto;
  .line-item{
    margin-bottom: 30px;
  }
  .class-pay{
    .icon-pay{
      // transition: all .05s ease-in;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background-color: @home-primary-bgColor;
      margin-bottom: 10px;
      Text {
        font-size: 46px;
      }
    }
    Text{
      font-size: 28px;
    }
  }
  .checked{
    background-color: @primary-color!important;
  }
}