@import '../../style/variables.less';
.home-wrap{
  background-color: @home-primary-bgColor;
}
.pay-list{
  // overflow: scroll;
}
.addPay{
  position: fixed;
  bottom: 34px;
  right: 10%;
  width: 110px;
  height: 110px;
  background-color: @primary-color;
  border-radius: 50%;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  Text{
    font-size: 48px;
    font-weight: bold;
    color: white;
  }
}