.container {
  .top-info {
    color: #9195A3;
    padding: 15px 30px;
    font-size: 22px;
    border-bottom: 1px solid #dfdfdf;
    .time {
      margin-right: 10px;
    }
    .value {
      margin-left: auto;
    }
  }
  .item {
    padding: 5px 30px;
    .icon {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #dfdfdf;
      text-align: center;
      line-height: 70px;
      Text{
        font-size: 38px;
        background-color: #FFC300;
      }
    }
    .item-right {
      margin-left: 40px;
      padding: 30px 0;
      border-bottom: 1px solid #dfdfdf;
      .info{
        font-size: 28px;
      }
    }
    &:last-child {
      padding-bottom: 10px;
      .item-right{
        border-bottom: none;
      }
    }
  }
}
