@import '../../style/variables.less';
.chartpage-wrap {
  background-color: @home-primary-bgColor;
  // padding-top: 20px;
  // box-sizing: border-box;
}
.bar-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}

.chart-wrap{
  background-color: white;
}

.out-title{
  .border-bottom-light();
  position: relative;
  margin-top: 20px;
  padding: 20px 60px;
  font-size: 28px;
  background-color: white;
  &::before {
    content: '';
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 5%;
    width: 8px;
    border-radius: 30px;
    background-color: @primary-color;
  }
}
