@import "../../style/variables.less";
.bar-wrap {
  padding: 10px 56px;
  box-sizing: border-box;
  background-color: @primary-color;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  .expend {
    .value {
      letter-spacing: 2px;
      font-size: 30px;
      font-weight: 400;
      Text{
        font-size: 44px;
      }
    }

    .money-info {
      font-weight: 26px;
      font-size: 22px;
      margin-right: 20px;
      margin-bottom: 5px;
      View {
        margin-right: 5px;
      }
      Text {
        font-size: 20px;
      }
    }
  }

  .year {
    font-size: 22px;
    // color: #cccccc;
  }
  .month {
    font-size: 38px;
    font-weight: 400;
  }
  .month-word {
    font-size: 24px;
  }
  .picker-wrap {
    padding: 5px 30px 0 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .left {
    min-width: 130px;
  }

  .triangle {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 30px;
  }
}
