.swipe-wrap {
  width: 100%;
  overflow: hidden;
  .swipe-container {
    position: relative;
    width: calc(100% + 120px);
    transform: translate3d(0, 0, 0);
    display: flex;
    transition: all 0.2s ease;
    .content {
      flex: 1;
    }
    .action-aera {
      width: 120px;
      font-size: 26px;
      background-color: #ff6666;
      color: white;
      Text {
        font-size: 36px;
      }
    }
  }
}

.shake() {
  animation: shake 0.8s linear 0s 1 normal;
  animation-fill-mode: both;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-18px);
  }

  20% {
    transform: translateX(16px);
  }

  30% {
    transform: translateX(-14px);
  }

  40% {
    transform: translateX(12px);
  }

  50% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(8px);
  }

  70% {
    transform: translateX(-6px);
  }

  80% {
    transform: translateX(4px);
  }

  90% {
    transform: translateX(-2px);
  }
}
