@import '../../style/variables.less';
.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  // border-bottom: solid 1px #f8f8f8;
  background: @primary-color;
}
.nav-bar .text {
  width: 100%;
  font-size: 34px;
  position: absolute;
  text-align: center;
  .back {
    position: absolute;
    left: 0px;
    font-size: 38px;
    display: inline-block;
    width: 70px;
  }
}
